body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #display
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#em1 ,#em2  
{
  color: black;
}
.emotiomname
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
label{color:green;font-weight: bold ;font-size: 25px;}